﻿@model CityDetails

<div>
    <div class="container col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Model.CityAndCountry
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    @Html.Partial("_details", @Model)
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                    <th>LastUpdated</th>
                                    <th>SourceName</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var measurement in @Model.Measurements)
                                {
                                    @Html.Partial("_measurement", measurement)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>