﻿@model Measurement

<div>
    <div>
        <div class="row">
            <tr>
                <td>@Model.Parameter</td>
                <td>@Model.Value</td>
                <td>@Model.Unit</td>
                <td>@Model.LastUpdated</td>
                <td>@Model.SourceName</td>
            </tr>
        </div>
    </div>
</div>