﻿@model WebMVC.Models.CityViewModel
@{
    ViewData["Title"] = "Air Quality";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This area to provide information about quality AIR.</p>

@using (Html.BeginForm("Details", "AirQuality", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.CityName)
    @Html.ValidationMessageFor(model => model.CityName)

    @Html.TextBoxFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
    <button type="submit">Get Latest</button>
}
<br />

@if (Model != null && Model.HasQueries)
{
    <div class="list-group-status">
        <h3>
            LATEST QUERIES
        </h3>
        @foreach (var query in Model.LatestQueries)
        {
            <div class="row list-group-status-item">
                <div class="col-md-9">
                    @Html.ActionLink(query.CityFullName, "Details", "AirQuality", new { CityName = query.City, Country = query.Country }, null)
                </div>
            </div>
        }
    </div>

}
else
{
    <div>
        <h3>
            THERE ARE NO QUERIES
        </h3>
    </div>
}

@if (Model != null && Model.HasResults)
{
    <div class="row">

        @foreach (var cityDetails in Model.Results)
        {
            <div class="">
                @Html.Partial("_cityMeasurements", cityDetails)
            </div>
            <br />
        }
    </div>
}
else
{

    <div>
        <h3>
            THERE ARE NO MEASUREMENTS
        </h3>
    </div>
}